@model IEnumerable<PostoInformatica_ERP.Models.OBRAS>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCadastro.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OBRA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRICAO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLIENTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ENDERECO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NUMERO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COMPLEMENTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.REFERENCIA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAIRRO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTATO1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTATO2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CIDADE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ESTADO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CIDADE_DESCRICAO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTRATO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CODIGOGIS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CODIGOGISRC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONCLUSAO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OBSERVACOES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VALOR_CONTRATO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISENTA_ISS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OFICIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RETENCAO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMPRESA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VALOREMPERMUTA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PERCENTUALPERMUTA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VALORPERMUTADOANTERIOR)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OBRA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRICAO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLIENTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ENDERECO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NUMERO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COMPLEMENTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REFERENCIA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAIRRO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTATO1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTATO2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CIDADE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESTADO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CIDADE_DESCRICAO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTRATO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CODIGOGIS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CODIGOGISRC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONCLUSAO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OBSERVACOES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VALOR_CONTRATO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISENTA_ISS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OFICIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RETENCAO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMPRESA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VALOREMPERMUTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PERCENTUALPERMUTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VALORPERMUTADOANTERIOR)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.INCREMENTO">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.INCREMENTO">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.INCREMENTO">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
