@model PostoInformatica_ERP.Models.CLIENTES

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CLIENTES</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RG_INSCRICAO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RG_INSCRICAO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.INSCRICAOMUNICIPAL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.INSCRICAOMUNICIPAL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FANTASIA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FANTASIA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COLIGADA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COLIGADA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ENDERECO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ENDERECO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ENDERECO_COBRANCA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ENDERECO_COBRANCA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NUMERO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NUMERO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NUMERO_COBRANCA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NUMERO_COBRANCA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COMPLEMENTO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COMPLEMENTO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COMPLEMENTO_COBRANCA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COMPLEMENTO_COBRANCA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BAIRRO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BAIRRO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BAIRRO_COBRANCA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BAIRRO_COBRANCA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CIDADE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CIDADE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CIDADE_COBRANCA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CIDADE_COBRANCA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CIDADE_IBGE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CIDADE_IBGE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ESTADO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ESTADO_COBRANCA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ESTADO_COBRANCA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAIXA_POSTAL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAIXA_POSTAL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAIXA_POSTAL_COBRANCA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAIXA_POSTAL_COBRANCA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PAIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PAIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FONE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FONE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FONE_RAMAL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FONE_RAMAL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CELULAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CELULAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.INTERNET)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.INTERNET)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CONTATO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CONTATO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMAIL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COND_PAGAMENTO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COND_PAGAMENTO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CODIGO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CODIGO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LOGIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LOGIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SENHA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SENHA)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CNPJ_CPF">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
