@model IEnumerable<PostoInformatica_ERP.Models.CLIENTES>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CODIGO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CODIGO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CNPJ_CPF">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CNPJ_CPF">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CNPJ_CPF">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
